.header {
    /* obs.: consertar esse caminho */
    background-image: url("../../assets/images/background_header.png");
    height: 1280px;
    width: auto;
    border-radius: 0px 0px 70px 70px;
    display: flex;
    flex-direction: column;
}

.menu-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    padding: 50px;
}

.buttons {
    height: 64px;
    display: block;
    gap: 15px;
}

#btn-secondary {
    color: #1F1F1F;
    background-color: transparent;
    margin-left: 15px;
}

#btn-secondary:hover {
    color: #FFF;
    background-color: #1F1F1F;
    ;
}

#img-logo {
    width: 136px;
    height: auto;
}

.title-main {
    color: #1F1F1F;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    width: 415px;

    position: absolute;
    top: 319px;
    left: 315px;
}

b {
    font-weight: 600;
}

.logo {
    width: 136.03px;
    height: 61px;
    background-image: url("../../assets/images/logo.png");
    background-color: transparent;
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* smartphones */
@media screen and (max-width: 767px) {
    .header {
        width: auto;
        border-radius: 0px 0px 70px 70px;
        display: flex;
        flex-direction: column;
        background-size:cover;
        background-repeat: no-repeat;
    }

    .title-main {
        top: 319px;
        left: 175px;
    }
}